{% extends "base.html" %} 
{% load static %} 

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="shop-heading">Blog</h2>
                <h5 class="text-muted">Edit Post</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_blog' post.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a href="{% url 'events' %}" class="btn btn-outline-black">Cancel</a>
                    <button class="btn btn-outline-black" type="submit">Update Post</button>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}