{% extends "base.html" %} 
{% load static %} 

{% block content %}
<img src="{{MEDIA_URL}}websiteimages/groceries.jpg" class="img-fluid" alt="Pontarth" id="banner">
<div class="home-layout">
    <div class="home-text">
        <p>
            Welcome to Pontarth Shop online. For more information about our business, click here.
            <br> <br>
            We are pleased to announce that our milk and grocery deliveries are available to book online. We also have 
            Click & Collect available. Please login or create an account to proceed. 
        </p>
    </div>
</div>
<div>

</div>
{% endblock %} 