{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="home-layout">
    <div class="home-column">
        <img src="{{MEDIA_URL}}websiteimages/pexels-antoni-shkraba-7175967.jpg" alt="">
        <img src="{{MEDIA_URL}}websiteimages/pexels-helena-lopes-3471028.jpg" alt="">
        <img src="{{MEDIA_URL}}websiteimages/pexels-natallia-rak-1675993.jpg" alt="">
    </div>
    <div class="home-column">
        <img src="{{MEDIA_URL}}websiteimages/pexels-rdne-stock-project-5756953.jpg" alt="">
        <img src="{{MEDIA_URL}}websiteimages/pexels-lisa-fotios-1992913.jpg" alt="">
        <img src="{{MEDIA_URL}}websiteimages/pexels-suzy-hazelwood-1232131.jpg" alt="">
    </div>
    <div class="home-column">
        <img src="{{MEDIA_URL}}websiteimages/pexels-ron-lach-8180061 (1).jpg" alt="">
        <img src="{{MEDIA_URL}}websiteimages/pexels-mark-stebnicki-2255935 (1).jpg" alt="">
        <img src="{{MEDIA_URL}}websiteimages/pexels-rfstudio-3811082 (1).jpg" alt="">
    </div>
</div>
<div>

</div>
{% endblock %} 