@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.welcome-banner {
    background-color: black;
    height: 120px;
    padding: 30px 10px;
}

.welcome {
    color: white;
    font-family: 'Prata', 'Times New Roman', Times, serif;
}

#banner {
    height: 250px;
    width: 100vw;
    object-fit: cover;
    object-position: right 90%;
}