@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

/*----------------------------------------------------------------------------------- Fonts & Text */

.home-text {
    margin: 3% 15%;
    padding: 5% 10%;
    border: 2px solid black;
    background-color: blanchedalmond;
}

.shop-heading{
    font-family: 'Prata', 'Times New Roman', Times, serif;
}

.welcome {
    color: white;
    font-family: 'Prata', 'Times New Roman', Times, serif;
}

.subtitle {
    color: white;
    font-family: 'Prata', 'Times New Roman', Times, serif;
}


/*----------------------------------------------------------------------------------- Page formatting */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.home-layout {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.home-column {
    flex: 33%;
    max-width: 33%;
}

.home-column img {
    margin-top: 8px;
    padding-left: 4px;
    vertical-align: middle;
    width: 100%;
  }

/*----------------------------------------------------------------------------------- Banner */

.welcome-banner {
    background-color: black;
    height: 120px;
    padding: 30px 10px;
}

#banner {
    height: 250px;
    width: 100vw;
    object-fit: cover;
    object-position: right 90%;
}

.products-banner{
    margin: 2% 0;
}

/*----------------------------------------------------------------------------------- Buttons & Links */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.edit {
    color: black;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 1%;
}

.edit:hover {
    color: green;
}

.delete {
    color: black;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
}

.delete:hover {
    color: red;
}

/*----------------------------------------------------------------------------------- Messages */

.alert-success {
    color: black;
    background-color: blanchedalmond;
    font-family: 'Prata', 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: -10%;
    padding: 1% 0;
}

.alert-info {
    color: black;
    background-color: palegreen;
    font-family: 'Prata', 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: -10%;
    padding: 1% 0;
}

.alert-warning, .alert-danger {
    color: black;
    background-color: palevioletred;
    font-family: 'Prata', 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: -10%;
    padding: 1% 0; 
}

/*----------------------------------------------------------------------------------- Allauth Customisation */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: navy;
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: navy;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; 
}

/* ------------------------------------------------------------------------------ Media queries*/
@media screen and (max-width: 600px) {
    .home-column {
      flex: 100%;
      max-width: 100%;
    }
  }