@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.welcome-banner {
    background-color: black;
    height: 120px;
    padding: 30px 10px;
}

.welcome {
    color: white;
    font-family: 'Prata', 'Times New Roman', Times, serif;
}

.home-text {
    margin: 3% 15%;
    padding: 5% 10%;
    border: 2px solid black;
    background-color: blanchedalmond;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.home-layout {
    background-color: whitesmoke;
    border: 1px solid black;
}

#banner {
    height: 250px;
    width: 100vw;
    object-fit: cover;
    object-position: right 90%;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.alert-success {
    color: black;
    background-color: blanchedalmond;
    font-family: 'Prata', 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: -10%;
    padding: 1% 0;
}

.shop-heading{
    font-family: 'Prata', 'Times New Roman', Times, serif;
}